<script type="text/javascript">
    $('<style type="text/css">\
			/* Color and Size Options on Category Pages */\
			.productAttributeValue .productOptionPickListSwatch .selectedValue.swatchTexture .textureContainer {\
				border: 5px solid #39b54a !important;\
			}\
			.productAttributeValue .productOptionPickListSwatch .swatchTexture .textureContainer {\
				border: 5px solid #eee !important;\
				border-radius: 7px;\
			}\
			.productAttributeValue .productOptionPickListSwatch .swatchTexture:nth-of-type(1) .textureContainer {\
				margin-right:10px !important;\
			}\
			.productAttributeValue .productOptionPickListSwatch .swatchTexture:nth-of-type(2) .textureContainer {\
				margin-right:10px !important;\
			}\
			</style>')
        .appendTo('head');

	function productAccessoryChoice() {
		var productAccessoryChoiceExistance = $('.productAttributeConfigurablePickListSwatch .productAttributeLabel .name:contains("Choose one:")');
		
		if (productAccessoryChoiceExistance.length) {
			var rquiredOptionAsterisk = $('.productAttributeConfigurablePickListSwatch .productAttributeLabel .required');
			rquiredOptionAsterisk.hide();
			productAccessoryChoiceExistance.parent().css({
				'text-align' : 'center',
				'text-transform' : 'uppercase',
				'color' : '#39b54a',
				'font-weight' : '700',
			});
			var optionThumbnails = productAccessoryChoiceExistance.parent().parent().parent().find('.swatchTexture .textureContainer .thumbnail');
			optionThumbnails.each(function() {
				var optionImage = $(this).parent().parent().find('.previewContent .preview');
				var optionImageContainerSpan = $(this).parent();
				var optionImageUrl = optionImage.attr('src');
				$(this).attr({style: 'background-image: url("' + optionImageUrl + '"); width: 106px !important; height: 106px !important;'});
			})
			var optionListItem = productAccessoryChoiceExistance.parent().parent().parent().find('li.swatchTexture label');
            optionListItem.on({
                mouseenter: function(event) {
                    if (!$(this).parent().hasClass('selectedValue')) {
	                    $(this).find('.textureContainer').attr({style: 'border: 5px solid #484848 !important'});
                    }
                },
                mouseleave: function(event) {
                    $(this).find('.textureContainer').attr({style: ''});
                },
                click: function(event) {
                    $(this).find('.textureContainer').attr({style: 'border: 5px solid #39b54a !important'});
                }
            });
		}
	};
	
	$(document).ready(function() {
		productAccessoryChoice();
	});
</script>
