	function productAccessoryChoice() {
		var productAccessoryChoiceExistance = $('.productAttributeConfigurablePickListSwatch .productAttributeLabel .name:contains("Choose one:")');
		
		if (productAccessoryChoiceExistance.length) {
			var rquiredOptionAsterisk = $('.productAttributeConfigurablePickListSwatch .productAttributeLabel .required');
			rquiredOptionAsterisk.hide();
			productAccessoryChoiceExistance.parent().css({
				'text-align' : 'center',
				'text-transform' : 'uppercase',
				'color' : '#39b54a',
				'font-weight' : '700',
			});
			var optionThumbnails = productAccessoryChoiceExistance.parent().parent().parent().find('.swatchTexture .textureContainer .thumbnail');
			var i = 0;
			optionThumbnails.each(function() {
				var optionImage = $(this).parent().parent().find('.previewContent .preview');
				var optionImageContainerSpan = $(this).parent();
				var optionImageUrl = optionImage.attr('src');
				$(this).attr({style: 'background-image: url("' + optionImageUrl + '"); width: 106px !important; height: 106px !important;'});
				if (i < 2) {
					$(this).parent().attr({style: 'margin-right:10px !important; border: 5px solid #eeeeee !important'});
				}
				else {
					optionImageContainerSpan.attr('style', 'border: 5px solid #eeeeee !important');
				}
				i++;
			})
                colorSwatchBox.on({
                mouseenter: function(event) {
                    originalImage = $(this).parents().eq(2).find('.ProductImage a img').attr('data-original');
                    $(this).parents().eq(2).find('.ProductImage a img').attr('src', color.url);
                    if (!$(this).hasClass('selectedColorBox')) {
                        $(this).css({
                            'border': '2px solid #666',
                            //'margin': '4px 3px 0 0'
                        });
                    }
                },
                mouseleave: function(event) {
                    if (!$(this).hasClass('selectedColorBox')) {
                        $(this).css({
                            'border': '2px solid #d5d5d5',
                            //'margin': '5px 4px 1px 1px'
                        });
                        //productImage.attr('src', activeImage);
                        $(this).parents().eq(2).find('.ProductImage a img').attr('src', originalImage);
                    }
                },
                click: function(event) {
                    $(this).parent().find('li').removeClass('selectedColorBox');
                    $(this).addClass('selectedColorBox');
                    $(this).parents().eq(2).find('.ProductImage a img').attr('src', color.url);
                    $(this).parents().eq(2).find('.ProductImage a img').attr('data-original', color.url);
                    $(this).parent().find('li').css({
                        'border': '2px solid #d5d5d5',
                        //'margin': '5px 4px 1px 1px'
                    });
                    $(this).css({
                        'border': '2px solid #39b54a',
                        //'margin': '4px 3px 0 0'
                    });
                    //activeImage = $(this).parents().eq(2).find('.ProductImage a img').attr('src');
                }
            });

		}
	};
	
	$(document).ready(function() {
		productAccessoryChoice();
	});