	function productAccessoryChoice() {
		var productAccessoryChoiceExistance = $('.productAttributeConfigurablePickListSwatch .productAttributeLabel .name:contains("Choose one:")');
		
		if (productAccessoryChoiceExistance.length) {
			var rquiredOptionAsterisk = $('.productAttributeConfigurablePickListSwatch .productAttributeLabel .required');
			rquiredOptionAsterisk.hide();
			productAccessoryChoiceExistance.parent().css({
				'text-align' : 'center',
				'text-transform' : 'uppercase',
				'color' : '#39b54a',
				'font-weight' : '700',
			});
			var optionThumbnails = productAccessoryChoiceExistance.parent().parent().parent().find('.swatchTexture .textureContainer .thumbnail');
			var i = 0;
			optionThumbnails.each(function() {
				var optionImage = $(this).parent().parent().find('.previewContent .preview');
				var optionImageContainerSpan = $(this).parent();
				var optionImageUrl = optionImage.attr('src');
				$(this).attr({style: 'background-image: url("' + optionImageUrl + '"); width: 106px !important; height: 106px !important;'});
				if (i < 2) {
					$(this).parent().attr({style: 'margin-right:10px !important; border: 5px solid #eee !important'});
				}
				else {
					optionImageContainerSpan.attr('style', 'border: 5px solid #eee !important');
				}
				i++;
			})
			var optionListItem = productAccessoryChoiceExistance.parent().parent().parent().find('li.swatchTexture label');
			console.log(optionListItem);
			if (optionListItem.hasClass('selectedValue')) {
                    $(this).find('.textureContainer').attr({style: 'border: 5px solid #39b54a !important'});
			}
            optionListItem.on({
                mouseenter: function(event) {
                    if (!$(this).parent().hasClass('selectedValue')) {
	                    $(this).find('.textureContainer').attr({style: 'border: 5px solid #484848 !important'});
                    }
                    else {
                        $(this).find('.textureContainer').attr({style: 'border: 5px solid #39b54a !important'});
                    }
                },
                mouseleave: function(event) {
                    if (!$(this).parent().hasClass('selectedValue')) {
	                    $(this).find('.textureContainer').attr({style: 'border: 5px solid #eee !important'});
                    }
                },
                click: function(event) {
				if (optionListItem.hasClass('selectedValue')) {
	                    $(this).find('.textureContainer').attr({style: 'border: 5px solid #39b54a !important'});
				}
                }
            });
		}
	};
	
	$(document).ready(function() {
		productAccessoryChoice();
	});